extends /layout/default

block beforehtml
  -
    title = '免費樣版列表'
    description = '點此連結來製作自己的 LINE 數位版名片吧！'

block meta
  meta(property="og:image:height", content="640")
  meta(property="og:image:width", content="1280")
  meta(property="og:image", content="https://i.imgur.com/j017Uof.png")
  meta(property="og:url", content=baseurl)

block style
  style
    :sass
      #businesscards .card-body
        border-top: 1px solid rgba(0,0,0,.125)
      #businesscards .card
        max-width: 480px
        margin: 0 auto
        font-size: 1.25rem
      #businesscards
        justify-content: center
      .btn-line
        background-color: #06C755 !important
        border-color: #06C755 !important
        color: #fff !important
        font-weight: bold
        &:hover, &:focus
          background-color: #05b449 !important
          border-color: #05b449 !important
          color: #fff !important

block content
  #app.container.my-4(v-cloak)
    h1.my-3.text-center LINE 圖卡製作
    #businesscards.row.justify-content-center
      .col-12.col-md-8.col-xl-6.mb-4
        .card.h-100
          img.card-img-top(:src="businesscards[0].preview", style="aspect-ratio: 1280/640")
          .card-body.d-flex.flex-column.align-items-center
            h5.card-title.text-center 圖卡製作
            h6.card-subtitle.mb-2.text-muted.text-center By {{ businesscards[0].author }}
            p.card-text.text-center {{ businesscards[0].description }}
            a.btn.btn-line.mt-auto(
              :href='baseurl + businesscards[0].form'
            ) 登入LINE開始製作

block script
  script(crossorigin="anonymous", src="https://static.line-scdn.net/liff/edge/2/sdk.js")
  script.
    ;(async () => {
      await liff.init({ liffId: '#{liffidFull}' })
      const redirect = new URL(location).searchParams.get('redirect')
      if (typeof redirect === 'string') location.href = new URL(redirect, location).href
    })()
    const vm = new Vue({ // eslint-disable-line
      el: '#app',
      data: {
        baseurl: '#{baseurl}',
        businesscards: [],
      },
      async mounted () {
        try {
          this.businesscards = await window.getCsv('#{baseurl}businesscards.csv')
        } catch (err) {
          await Swal.fire({ icon: 'error', title: '初始化失敗', text: err.message })
        }
      },
    })
